body {
    color: #EE6055;
    color: #60D394;
    color: #AAF683;
    color: #FFD97D;
    color: #FF9B85
}

body {

    color: linear-gradient(180deg, rgba(218, 245, 230, 1) 0%, rgb(130, 209, 170) 76%, rgb(22, 114, 72) 100%);
    color: #AAF683;
    color: #b8b3b3;


    color: #00914C
}


